@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
}

.title-text-stroke {
  text-shadow: -8px -8px 0 #99201c, 8px -8px 0 #99201c, -8px 8px 0 #99201c,
    8px 8px 0 #99201c, 0 -8px 0 #99201c, -8px 0 0 #99201c, 0 8px 0 #99201c, 8px 0 0 #99201c;
}

.text-stroke-yellow {
  text-shadow: -1px -1px 0 #ca8a04, 1px -1px 0 #ca8a04, -1px 1px 0 #ca8a04, 1px 1px 0 #ca8a04;
}

.text-stroke-orange {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}